{% extends "layout_dwp_admin.html" %}

{% block page_title %}
  Analytics Dasboard
{% endblock %}

{% block content %}
  <main id="content" role="main" class="stats" style="padding-bottom:40px;">
    <h1 class="heading-xlarge">Apply for a Budgeting Loan</h1>
    <p class="date">01/02/2016 - 08/02/2016</p>

    <div class="grid-row">

      <div class="column-one-half" style="border-right:2px solid #BFC1C3; border-bottom:2px solid #BFC1C3;">
        <h2 class="heading-medium alt">Applications resulting in loan</h2>
        <div id="chart-1"></div>
      </div>

      <div class="column-one-half" style=" border-bottom:2px solid #BFC1C3;">
        <h2 class="heading-medium alt">Days taken to get loan (average)</h2>
        <div id="chart-2"></div>
      </div>

    </div>

    <div class="grid-row">

      <div class="column-one-half" style=" border-right:2px solid #BFC1C3;">
        <h2 class="heading-medium alt">Paper v Online</h2>
        <div id="chart-3"></div>
      </div>

      <div class="column-one-half">
        <h2 class="heading-medium alt">Reasons people dont get loan</h2>
        <div id="chart-4"></div>
      </div>
    </div>


<style>
#chart-1 > div > div > svg{
  width: 102%;
}

.stats .grid-row {
  clear:both;
  margin-bottom: 0;
}

.column-one-half {
  padding-bottom: 25px;
  padding-right: 22px;
}

</style>

  </main>
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/public/javascripts/ga-charts2.js"></script>
{% endblock %}
